<html>

<head>
    <partial name="~/Views/Admin/template/header.cshtml" />
    <link rel="stylesheet" href="~/css/AdminPage.css">
    <title>Trang admin</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <partial name="~/Views/Admin/template/navigation.cshtml" />
    <div class="row flex-grow-1 m-0">
        <partial name="~/Views/Admin/template/sidebar.cshtml"/>
        
        <div class="col-md-10 bg-light">
            <h1>Trang chủ</h1>
            <hr>
        </div>
    </div>
</body>

</html>