<nav class="navbar navbar-dark navbar-expand sticky-top d-flex justify-content-between flex-md-nowrap bg-dark p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">Tên công ty</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="~/admin/logout">Đăng xuất</a>
    </li>
  </ul>
</nav>