<nav class="col-md-2 d-md-block min-vh-100 bg-secondary" id="sidebar">
  <div class="sticky-top" style="top: 30px">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="~/admin">
        <i class="fas fa-home p-2"></i>Trang chủ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="~/admin/products">
        <i class="fas fa-shopping-cart p-2"></i>Sản phẩm
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="~/admin/orders">
        <i class="fas fa-file-invoice-dollar p-2"></i>Đơn hàng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="~/admin/customers">
        <i class="far fa-address-card p-2"></i>Khách hàng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="~/admin/promotions">
        <i class="fas fa-percent p-2"></i>Khuyến mãi
        </a>
      </li>
    </ul>
  </div>
</nav>